/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

.container { margin-top: 50px; }

h1 {
	font-family: 'Arvo', Georgia, Times, serif;
	font-size: 42px;
	line-height: 45px;
	color: rgb(153,153,153);
	margin-bottom: 45px;
}

h2 {
	font-family: 'Arvo', Georgia, Times, serif;
	font-size: 30px;
	line-height: 45px;
	color: rgb(153,153,153);
	margin-bottom: 45px;
}

h3 {
	font-family: 'Arvo', Georgia, Times, serif;
	font-size: 22px;
	line-height: 30px;
	color: rgb(153,153,153);
	margin-bottom: 20px;
}
 
p {
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 35px;
	color: rgb(47,47,47);
}

.highlight {
	margin-top: 15px;
	margin-bottom: 10px;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	background: #F0F0F0;
}

li {
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 35px;
	color: rgb(47,47,47);
}

ul.listing li { list-style-type: none; margin-left: 0px; padding-left: 0px; }
ul.listing li span { float: left; width: 110px; padding-right: 15px }
ul.listing li a { padding-left: 15px; }
li { list-style-type: square; margin-left: 40px; line-height: 30px; }

li span {
	padding-right: 25px;
	color: rgb(47,47,47);
}

a {
	text-decoration: none;
	color: rgb(153,153,153);
}

p a {
	color: rgb(153,153,153);
}

a:visited {
color: rgb(153,153,153);
text-decoration: underline;
}

.twelve .content {
	text-align: justify;
	text-justify: inter-word;
	padding-right: 30px;
}

.four {
	text-align: justify;
	text-justify: inter-word;
}

img { max-width: 100%; }

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		.container .twelve.columns { width: 100%; }		
		.container .four.columns { width: 100%; }		
		.four .content { padding-right: 20px; }
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		.container { margin-top: 20px; min-height: 480px; }
		h1 { margin-bottom: 20px; }
		li span { display: block; }		
		p {	font-size: 18px; line-height: 29px;	}
	}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/